# Flask Configuration
SECRET_KEY=A0Zr98j/3yX R~XHH!jmN]LWX/,?RT
SQLALCHEMY_DATABASE_URI=sqlite:///base.db

# Admin Panel Credentials
ADMIN_USERNAME=admin
ADMIN_PASSWORD=sokt2024

# Mail Server Settings (SMTP)
# MAIL_SERVER=
# MAIL_PORT=587
# MAIL_USERNAME=
# MAIL_PASSWORD=
# MAIL_USE_TLS=True
# MAIL_USE_SSL=False
