@import "fonts.scss";

$blue: #0067b2;
$green: #26a583;
$green-gr: linear-gradient(288deg, #30AF7D, #249d7c);
$violet: #5c1995;

$indent: 150px;


// скролл

body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-track {
    background: #efe3ff;
}

body::-webkit-scrollbar-thumb {
    background-color: $violet;
    width: 4px;
    border: 2px solid #efe3ff;
}

* {
    font-family: Styrene, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400 !important;
}

.title {
    font-family: Cakra, sans-serif;
    font-weight: 500;
    margin-bottom: 5rem;
    font-size: 4rem;
}

.text {
    font-size: 2rem;
    font-weight: 400;
    font-family: Styrene, sans-serif;
}

.ref {
    color: inherit;
    text-decoration: underline;
    font-family: inherit;
}

.btn {
    display: block;
    padding: 3rem 0rem;
    /* 3rem 6rem for main */
    font-weight: 400;
    font-family: Styrene, sans-serif;
    font-size: 1.8rem;
    font-size: 500;
    width: 100%;
    background: $violet;
    transition: all .2s ease;
    text-align: center;
    text-decoration: none;
    color: white;
    border-radius: 100px !important;
    margin-top: 3rem;
}

input,
textarea {
    font-family: Styrene, sans-serif;
    font-size: 1.8rem !important;
}

span {
    font-family: inherit;
    color: inherit;
    font-size: inherit;
}

h1,
h2,
h3,
h4 {
    margin: 0;
    padding: 0;
}

i {
    margin-right: .8rem;
    //    opacity: .5;
    transform: scale(.9);
}

a {
    text-decoration: none;
}

html {
    font-size: 10px;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.container {
    padding: 0px $indent;
}

.header {
    width: calc(100% - 300px);
    display: flex;
    justify-content: space-between;
    align-itrems: center;
    padding: 3rem 0px;
    position: absolute;
    z-index: 9999;
    background: white;
    top: 0px;
    left: $indent;


    &__left {
        display: flex;
        align-items: center;
    }

    &__logos {
        display: flex;
        gap: 3rem;
        align-items: center;
    }

    &__logo {
        height: 50px;
    }

    &__right {}

    &__menu {
        list-style: none;
        padding-left: 0;
        display: flex;
        gap: 3rem;
        font-size: 1.8rem;
        color: $violet;

        li {
            text-align: right;
            padding-left: 0;

            a {
                color: $violet;
                transition: all .2s ease;
                font-family: Styrene, sans-serif;

                &:hover {
                    color: $blue;
                }
            }
        }
    }
}

.main {
    display: flex;
    align-items: center;
    padding: 17rem 0 10rem 0;

    &__tags {
        display: flex;
        //        gap: 1.5rem;
        align-items: center;
    }

    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__image {
        width: 20%;
        filter: drop-shadow(0px 0px 30px rgba(48, 175, 125, 0.25));
        z-index: -999;


        &_mobile {
            display: none;
        }
    }

    &__content {
        width: 75%;
    }

    &__tag {
        padding: 1rem 2rem;
        font-size: 1.8rem;
        font-weight: 500;
        font-family: "Styrene";

        &_first {
            border: 1px solid $blue;
            border-radius: 50px 0px 0px 50px;
            color: $blue;
        }

        &_second {
            border: 1px solid $violet;
            border-radius: 0px 50px 50px 0px;
            margin-left: -1px;
            color: $violet;
        }
    }

    &__title {
        font-size: 7rem;
        color: $violet;
        margin: 2rem 0px 3rem 0px;
        font-family: Cakra, sans-serif;

        span {
            color: $green;
            letter-spacing: 7px;
        }
    }

    &__text {
        color: $violet;
        padding: 0.5rem 0;
        padding-left: 3rem;
        border-left: 2px solid $violet;

        span {
            font-weight: 500;
        }
    }

    &__btns {
        display: flex;
        gap: 2rem;
        align-items: center;
        margin-top: 4rem;
    }

    &__btn {
        font-size: 2rem;
        padding: 3rem 6rem;
        margin-top: 0;
        width: max-content;
        border: 2px solid transparent;
        font-family: Cakra, sans-serif;

        &_tg {
            background: #e4e8f8;
            color: #5f5fa3;
            margin-top: 0 !important;

            &:hover {
                border: 2px solid #5f5fa3 !important;
                background: transparent !important;
                color: #5f5fa3 !important;
            }
        }

        &:hover {
            background: transparent;
            color: $blue;
            border: 2px solid $blue;
        }
    }
}

.why {
    background: $green-gr;
    padding: 7rem 0px;

    &__title {
        color: white;
    }

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__item {
        width: calc(50% - 12rem);
        display: flex;
        column-gap: 3rem;
        margin-bottom: 4rem;
        background: white;
        padding: 5rem;
        border-radius: 40px;

        i {
            font-size: 5rem;
            color: $blue;
        }
    }

    &__content {
        h4 {
            font-size: 2.4rem;
            font-weight: 500;
            margin: 0;
            font-family: Cakra, sans-serif;
        }
    }

    &__btn {
        border: 2px solid white;
        background: transparent;

        &:hover {
            background: #eaeaea;
            color: $blue;
        }
    }
}

.comps {
    padding: 7rem 0px;

    &__title {
        color: $violet;
    }

    .slider {
        height: 200px;
    }

    .slide {
        height: 200px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    &__btn {
        border: 2px solid $violet;

        &:hover {
            background: white;
            color: $violet;
        }
    }
}

.reg-links {
    padding: 7rem 0px;
    background: $green-gr;

    &__title {
        color: white;
        margin-bottom: 3rem;
    }

    &__text {
        color: white;
        margin-bottom: 4rem;

        a {
            font-weight: 500;
        }
    }

    &__minititle {
        font-size: 2rem;
        font-family: Styrene, sans-serif;

    }

    &__block {
        transition: all .2s ease;
        width: 100%;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        padding: 3rem 3rem;
        border: 2px solid white;
        margin-bottom: 2rem;
        background: rgba(33, 28, 0, 0.1);
        color: white;

        &:last-child {
            background: rgba(33, 28, 0, 0.3);
        }

        &:hover {
            background: white;
            color: $blue;

            div {
                color: $blue;
            }
        }
    }

    &__arrow {
        font-size: 2.5rem;
        color: white;
    }
}

.reg {
    background: $green-gr;
    height: 100vh;
    padding: 7rem 0px;

    &__title {
        color: white;
    }

    &__form {}

    &__input {
        box-sizing: border-box;
        display: block;
        width: 100%;
        padding: 30px;
        background: transparent;
        border: 1px solid white;
        border-bottom: 0px;
        outline: none;
        color: white;
        font-weight: 500;
        font-size: 2rem;

        &:nth-child(odd) {
            background: rgba(255, 255, 255, 0.05);
        }

        &:nth-child(1) {
            border-radius: 40px 40px 0px 0px;
        }

        &_lst {
            border-radius: 0px 0px 40px 40px;
            border-bottom: 1px solid white;
        }

    }

    option {
        background: white;
        color: $blue;
        font-weight: 700;

        &[disabled] {
            color: rgba(86, 0, 196, 0.5);
        }
    }

    &__check {
        display: flex;
        gap: 2rem;
        margin-top: 2rem;
        align-items: center;

        input {
            width: 4rem;
            height: 4rem;
            margin: 0;
        }

        p {
            font-size: 1.6rem;
            color: white;

            a {
                color: white;
                text-decoration: underline;
            }
        }
    }

    &__btn {
        color: $blue;
        background: white;
        outline: none;
        border: none;
        cursor: pointer;
        border: 2px solid white;

        &:hover {
            background: transparent;
            border: 2px solid white;
            color: white;
        }
    }
}

::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: rgba(255, 255, 255, .5);
}

:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: rgba(255, 255, 255, .5);
    opacity: 1;
}

::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: rgba(255, 255, 255, .5);
    opacity: 1;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: rgba(255, 255, 255, .5);
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: rgba(255, 255, 255, .5);
}

::placeholder {
    /* Most modern browsers support this now. */
    color: rgba(255, 255, 255, .5);
}

//// скролл
//::-webkit-scrollbar {
//    width: 0;
//}


.dev {
    padding: 5rem 0px;
    background: white;

    &__title {
        font-size: 2.5rem;
        color: $violet;
        margin-bottom: 1rem;

        span {
            color: $blue;
        }
    }

    &__text {
        color: $violet;
        font-size: 1.6rem;
        margin-bottom: 3rem;
    }

    &__btn {
        padding: 2rem 0;
        background: linear-gradient(45deg, $violet 45%, $blue);

        &:hover {
            background: $blue;
        }
    }
}


.mail {
    padding: 50px;

    &__header {
        width: 100%;
        display: flex;
        gap: 20px;

        img {
            height: 40px;
        }
    }

    &__inner {
        margin-top: 60px;
    }

    &__title {
        font-size: 30px;
        color: $blue;
        font-weight: 700;
        margin-bottom: 20px;

        span {
            color: $blue;
        }
    }

    &__text {
        font-size: 16px;
        color: $violet;
        margin-bottom: 30px;

        span {
            color: $blue;
        }
    }

    &__label {
        font-size: 16px;
        font-weight: 500;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    &__qr {
        width: 80%;
        max-width: 350px;
    }

    &__finish {
        margin-top: 50px;
        font-size: 16px;
        color: $blue;
    }
}

.flash {
    position: absolute;
    width: calc(100% - 40px);
    padding: 40px 25px;
    background: linear-gradient(45deg, rgba(245, 230, 255, 0.7), rgba(243, 224, 255, 0.7));
    backdrop-filter: blur(8px);
    color: $blue;
    font-weight: 500;
    top: 30px;
    left: 20px;
    animation: ani 6s forwards;
    font-size: 1.6rem;
    box-sizing: border-box;
    z-index: 10000;

    i {
        color: $blue;
        margin-left: 7px;
    }
}

@keyframes ani {
    0% {
        transform: translateY(-130px)
    }

    20% {
        transform: translateY(0px)
    }

    80% {
        transform: translateY(0px)
    }

    100% {
        transform: translateY(-130px)
    }
}

.success {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    text-align: center;

    &__inner {
        width: 100%;
        max-width: 600px;
    }

    &__logo {
        width: 40%;
        max-width: 350px;
        margin-bottom: 2rem;
    }

    &__text {
        font-weight: 500 !important;
        color: $green;
    }

    &__btn {
        margin-top: 5rem;
    }
}

.error {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    text-align: center;

    &__inner {
        width: 100%;
        max-width: 600px;
    }

    &__num {
        font-family: Cakra;
        letter-spacing: 1rem;
        font-size: 16rem;
        font-weight: 900;
        color: #a80f0f;
//        margin-bottom: 1rem;
    }

        &__btn {
            margin-top: 5rem;
        }
}


#reader {
    height: 100vh;
    width: 105%;
    overflow: hidden !important;
    border: none;
    margin-left: -10px;

    button {
        width: 80%;
        margin: 0 auto;
        padding: 20px 40px;
        border-radius: 10px;
        background: $blue;
        color: white;
        border: none;
        outline: none;
        margin-top: 10px;
    }
}


#html5-qrcode-anchor-scan-type-change {
    display: none !important;
}

#reader__dashboard_section {
    padding: 0 !important;
    margin-top: -10px;
}

#reader__scan_region {
    width: 100%;
    //    margin-top: $header-height;
    border: none;
    margin-bottom: 5px;

    img {
        margin-top: 40%;
        margin-bottom: 15px;
        color: $blue;
        width: 100px;
    }
}

#reader__dashboard_section_csr > span {
    margin-right: 0 !important;
    color: white;
    font-size: 2px;
}

#html5-qrcode-select-camera {
    display: block;
    color: #121212 !important;
    margin-top: 10px;
    width: 80%;
    border: 1px solid $blue;
    padding: 15px 10px;
    margin: 0 auto !important;
    margin-top: 10px !important;
    border-radius: 10px;
    font-size: 14px !important;
    background: white;

    &:disabled {
        background: linear-gradient(45deg, #e0e0e0, #dbdbdb);
        border: 1px solid #bababa;
        color: #8e8e8e !important;
    }
}


.user-info {
    min-height: 100vh;
    display: flex;
    align-items: center;
    width: 100%;

    &__inner {
        width: 100%;
    }

    &__image {
        text-align: center;
        margin-bottom: 5rem;
        color: $blue;

        i {
            font-size: 20rem;
        }
    }

    &__title {
        font-size: 3rem;
        color: $violet;
        margin-bottom: 4rem;
        text-align: center;

        span {
            color: $blue;
        }
    }

    &__text {
        font-size: 2rem;
        color: $blue;
        text-align: center;
        font-weight: 500;

        span {
            color: $blue;
        }
    }

    &__content {
        margin-bottom: 3rem;
    }

    &__item {
        padding: 2rem 2rem;
        border: 1px solid $blue;
        border-bottom: none;
        color: $blue;
        width: 100%;
        box-sizing: border-box;

        span {
            font-weight: 700;
            color: $violet;
        }

        &:nth-child(odd) {
            background: #f4f6ff;
        }

        &:last-child {
            border-bottom: 1px solid $blue;
        }
    }

    &__btn {
        width: 100%;
        padding: 3rem 2rem;
        background: $blue;
        color: white;
        border: none;
        outline: none;
        font-size: 1.8rem;

        &[disabled] {
            background: #cecece;
            color: #585858;
        }
    }

    &__attention {
        font-size: 1.6rem;
        color: #7b7b7b;
        text-align: center;

    }
}

.to-scanner {
    position: absolute;
    top: 4rem;
    left: 4rem;
    display: flex;
    gap: 1.5rem;
    align-items: center;

    span {
        font-size: 1.8rem;
        color: $blue;

    }

    i {
        color: white;
        font-size: 2.5rem;
        margin: 0;
        background: $blue;
        width: 7rem;
        height: 7rem;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
    }
}




@media (max-width: 1366px) {
    html {
        font-size: 8px;
    }

    .container {
        padding: 0px 80px;
    }

    .header {
        left: 80px;
        width: calc(100% - 160px);
    }
}


@media (max-width: 1024px) {
    html {
        font-size: 8px;
    }

    .container {
        padding: 0px 50px;
    }

    .header {
        left: 50px;
        width: calc(100% - 100px);
        flex-direction: column;
        padding: 4rem 0 2rem 0 !important;

        &__left {
            margin-bottom: 1rem;
        }

        &__menu {
            padding-left: 0;
            gap: 1rem;

            li {
                text-align: left;
                border: 1px solid $violet;
                border-radius: 20px;
                padding: 1rem 2rem;
                opacity: .8;
            }
        }
    }

    .main {
        padding-top: 15rem;
    }

    .why {
        &__item {
            width: 100%;
        }
    }
}

@media (max-width: 768px) {
    html {
        font-size: 7px;
    }

    .container {
        padding: 0px 30px;
    }

    .header {
        left: 30px;
        width: calc(100% - 60px);
        flex-direction: column;
        padding: 3rem 0 1rem 0 !important;

        &__left {
            margin-bottom: 2.5rem;
            display: flex;
            justify-content: center;
        }

        &__logos {
            gap: 3rem;

            img {
                height: 40px;
            }
        }

        &__right {
            overflow-x: auto;

            &::-webkit-scrollbar {
                height: 0px;
            }

            &::-webkit-scrollbar-track {
                background: rgba(251, 238, 255, 0.47);
            }

            &::-webkit-scrollbar-thumb {
                background-color: rgba(92, 0, 119, 0.5);
                border: 1px solid #f5eeff;
            }
        }

        &__menu {
            font-size: 2rem;
            width: max-content;
            margin: 0;

            li {
                text-align: left;
            }
        }
    }

    .main {
        padding-top: 23rem;
        padding-bottom: 8rem;

        &__inner {
            flex-direction: column;
            gap: 3rem;
        }

        &__image {
            width: 70%;
            //            display: none;

            &_desktop {
                display: none;
            }

            &_mobile {
                display: block;
            }
        }

        &__content {
            width: 100%;
            margin-top: -8rem;
            background: rgba(255, 255, 255, 0.92);
            text-align: center;
        }

        &__tags {
            margin: 0 auto;
            //            width: 100%;
            width: max-content;
        }

        &__tag {
            padding: 1.5rem 2rem;
        }

        &__title {
            font-size: 4.8rem;
            margin-bottom: 1rem;
            line-height: 190%;

            span {
                font-size: 13rem;
            }
        }

        &__text {
            border: none;
            margin: 0 !important;
            padding-left: 0;
        }

        &__btns {
            flex-direction: column;
            gap: 2rem;
        }

        &__btn {
            margin: 0 auto;
            padding: 0;
            width: 90%;
            padding: 4rem 0;

            &_tg {
                margin-top: 0;
                padding: 2rem 0;
            }
        }
    }

    .reg {
        &__input {
            padding: 20px;
        }
    }
}
