<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Карьерная неделя СОКТ</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <meta property="og:title" content="Студенческая карьерная неделя СОКТ">
    <meta property="og:site_name" content="Студенческая карьерная неделя СОКТ">
    <meta property="og:url" content="https://sokt-profcom.ru">
    <meta property="og:description" content="Для студентов карьерная неделя — отличный шанс познакомиться с новыми людьми, завести профессиональные связи, получить инсайды и возможность получить стажировку.">
    <meta property="og:image" content="{{ url_for('index') }}static/img/sokt-preview.png">
    
    <link rel="icon" href="{{ url_for('index') }}static/img/sokt.png">
    <link rel="stylesheet" href="{{ url_for('index') }}static/css/main.css">
    <script src="https://kit.fontawesome.com/0ad5947fc3.js" crossorigin="anonymous"></script>
</head>

<body>

    <div class="error">
        <div class="error__inner">
            <img src="{{ url_for('index') }}static/img/sokt.png" alt="" class="error__logo">
            <h2 class="error__text">Такой страницы нет :(</h2>
            <a href="{{ url_for('index') }}" class="error__btn">На главную</a>
        </div>
    </div>

</body>
