{% extends "base.html" %}

{% block title %}Карьерная неделя 2024 в ПРОСТО{% endblock title %}

{% block content %}
<div class="container">


    <header class="header">
        <div class="header__left">
            <div class="header__logos">
                <img class="header__logo header__logo_prosto" src="{{ url_for('index') }}static/img/prosto.svg" width="120px" alt="">
                <img class="header__logo header__logo_sokt" src="{{ url_for('index') }}static/img/sokt.png" alt="">
                <img class="header__logo header__logo_profcom" src="{{ url_for('index') }}static/img/profcom.png" alt="">
            </div>
        </div>
        <div class="header__right">
            <ul class="header__menu">
                <li><a href="#why">Стоит участвовать?</a></li>
                <li><a href="#companies">Компании</a></li>
                <li><a href="#registration">Регистрация</a></li>
                <li><a href="#contacts">Контакты</a></li>
            </ul>
        </div>
    </header>


    <div class="main">
        <div class="main__inner">
            <img class="main__image main__image_desktop" src="{{url_for('index')}}static/img/career-logo.svg" alt="">
            <img class="main__image main__image_mobile" src="{{url_for('index')}}static/img/career-banner.svg" alt="">
            <div class="main__content">
                <div class="main__tags">
                    <div class="main__tag main__tag_first"><i class="fa-solid fa-clock"></i> 15-16 мая</div>
                    <div class="main__tag main__tag_second"><i class="fa-solid fa-map"></i> ПРОСТО на Карповке</div>
                </div>
                <h1 class="main__title">Карьерная неделя <span>2024</span></h1>
                <p class="main__text text">Столько <span>возможностей</span> для карьерного роста <span>ПРОСТО</span> нельзя упускать! Шанс <span>познакомиться</span> с новыми людьми, завести <span>профессиональные связи,</span> получить инсайды и <span>стажировку.</span></p>
                <div class="main__btns">
                    <a href="#registration" class="main__btn btn"><i class="fa-solid fa-bolt-lightning"></i> Участвовать</a>
                    <a href="https://t.me/industrial_career_week" class="main__btn main__btn_tg btn"><i class="fa-brands fa-telegram"></i>ТГ-канал</a>
                </div>
            </div>
        </div>
    </div>

</div>


<div class="why" id="why">
    <div class="container">
        <h2 class="why__title title">Почему стоит принять участие?</h2>
        <div class="why__wrapper">

            <div class="why__item">
                <i class="fa-solid fa-briefcase"></i>
                <div class="why__content">
                    <h4>Работа</h4>
                    <p class="text">25+ компаний с открытыми вакансиями для молодых специалистов</p>
                </div>
            </div>

            <div class="why__item">
                <i class="fa-solid fa-fire"></i>
                <div class="why__content">
                    <h4>Интересно</h4>
                    <p class="text">1 000+ участников, включая HR, экспертов и твоих единомышленников</p>
                </div>
            </div>

            <div class="why__item">
                <i class="fa-solid fa-thumbs-up"></i>
                <div class="why__content">
                    <h4>Полезно</h4>
                    <p class="text">Нетворкинг, мастер-классы, кейсы и Q&A со спикерами</p>
                </div>
            </div>

            <div class="why__item">
                <i class="fa-solid fa-coins"></i>
                <div class="why__content">
                    <h4>Бесплатно для участников</h4>
                    <p class="text">Участие, мерч и призы, опыт от профессионалов.</p>
                </div>
            </div>

        </div>
        <a href="#registration" class="why__btn btn">Я приду!</a>
    </div>
</div>


<div class="comps" id="companies">
    <div class="container">
        <h2 class="comps__title title">Какие компании будут у нас?</h2>

<!--
        <div class="slider owl-carousel owl-theme" id="slider">

            <div class="slide" style="background-image: url('{{ url_for('index') }}static/img/1.jpg')"></div>
            <div class="slide" style="background-image: url('{{ url_for('index') }}static/img/2.jpg')"></div>
            <div class="slide" style="background-image: url('{{ url_for('index') }}static/img/3.jpg')"></div>
            <div class="slide" style="background-image: url('{{ url_for('index') }}static/img/4.jpg')"></div>
            <div class="slide" style="background-image: url('{{ url_for('index') }}static/img/5.jpg')"></div>
            <div class="slide" style="background-image: url('{{ url_for('index') }}static/img/6.jpg')"></div>
            <div class="slide" style="background-image: url('{{ url_for('index') }}static/img/7.jpg')"></div>
            <div class="slide" style="background-image: url('{{ url_for('index') }}static/img/8.jpg')"></div>
            <div class="slide" style="background-image: url('{{ url_for('index') }}static/img/9.jpg')"></div>
            <div class="slide" style="background-image: url('{{ url_for('index') }}static/img/10.jpg')"></div>
            <div class="slide" style="background-image: url('{{ url_for('index') }}static/img/11.jpg')"></div>
            <div class="slide" style="background-image: url('{{ url_for('index') }}static/img/12.jpg')"></div>
            <div class="slide" style="background-image: url('{{ url_for('index') }}static/img/13.jpg')"></div>
            <div class="slide" style="background-image: url('{{ url_for('index') }}static/img/14.jpg')"></div>
            <div class="slide" style="background-image: url('{{ url_for('index') }}static/img/15.jpg')"></div>

        </div>
-->
        <h4 style="font-size: 2rem; font-family: Styrene, sans-serif;">Список пока пополняется...</h4>

        <a href="#registration" class="comps__btn btn">Точно приду!</a>
    </div>
</div>

<div class="reg-links" id="registration">
    <div class="container">
        <h2 class="reg-links__title title">Регистрация</h2>
        
        <p class="reg-links__text text">Обратите внимание, что после регистрации необходимо также зарегистрироваться на мероприятие на сайте <a target="_blank" class="ref" href="https://www.prostospb.team">коворкинга&nbsp;ПРОСТО</a></p>

        <a href="{{ url_for('clients') }}" class="reg-links__block btn">
            <h3 class="reg-links__minititle">Регистрация для участников</h3>
            <div class="reg-links__arrow"><i class="fa-solid fa-arrow-right"></i></div>
        </a>
        <a href="{{ url_for('companies') }}" class="reg-links__block btn">
            <h3 class="reg-links__minititle">Регистрация для компаний</h3>
            <div class="reg-links__arrow"><i class="fa-solid fa-arrow-right"></i></div>
        </a>
    </div>
</div>

<div class="dev">
    <div class="container">
        <div class="dev__inner">
            <h3 class="title dev__title">Разработка сайта — <span>IT отдел СОКТ</span></h3>
            <p class="dev__text text">Хочешь вступить в наши ряды?</p>
            <a target="_blank" href="https://vk.com/eltech_career?w=wall-113893523_4141" class="dev__btn btn">Перейти</a>
        </div>
    </div>
</div>



<script>
    $(document).ready(function() {
        const slider = $("#slider").owlCarousel({
            loop: true,
            nav: false,
            dots: false,
            margin: 50,
            autoplay: true,
            autoplayTimeout: 3000,
            autoplayHoverPause: true,
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 2
                },
                1000: {
                    items: 4
                }
            }
        });
    });

</script>

{% endblock content %}
