<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Промышленная карьерная неделя СОКТ</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="Промышленная карьерная неделя СОКТ">
    <meta property="og:site_name" content="Промышленная карьерная неделя СОКТ">
    <meta property="og:url" content="https://industrial-career-week.ru">
    <meta property="og:description" content="Для студентов промышленная карьерная неделя — отличный шанс познакомиться с новыми людьми, завести профессиональные связи, получить инсайды и возможность получить стажировку.">
    <meta property="og:image" content="{{ url_for('index') }}static/img/career.png">

    <link rel="icon" href="{{ url_for('index') }}static/img/career.png">
    <link rel="stylesheet" href="{{ url_for('index') }}static/css/owl.carousel.min.css">
    <link rel="stylesheet" href="{{ url_for('index') }}static/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="{{ url_for('index') }}static/css/main.css">
    <script src="https://kit.fontawesome.com/0ad5947fc3.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="{{ url_for('index') }}static/js/owl.carousel.min.js"></script>
</head>

<body>

    {% for flash in get_flashed_messages() %}
    <div class="flash">{{ flash }}</div>
    {% endfor %}

    <div class="container">


        <header class="header">
            <div class="header__left">
                <div class="header__logos">
                    <img class="header__etu" src="{{ url_for('index') }}static/img/etu.png" alt="">
                    <img class="header__etu_mini" src="{{ url_for('index') }}static/img/etu-mini.png" alt="">
                    <img src="{{ url_for('index') }}static/img/sokt.png" alt="">
                    <img src="{{ url_for('index') }}static/img/profcom.png" alt="">
                </div>
            </div>
            <div class="header__right">
                <ul class="header__menu">
                    <li><a href="#why">Почему стоит принять участие?</a></li>
                    <li><a href="#companies">Какие компании будут?</a></li>
                    <li><a href="#registration">Регистрация</a></li>
                </ul>
            </div>
        </header>


        <div class="main">
            <div class="main__inner">
                <img class="main__image" src="{{url_for('index')}}static/img/career.png" alt="">
                <div class="main__content">
                    <div class="main__tags">
                        <div class="main__tag main__tag_first"><i class="fa-solid fa-clock"></i> 19-22 февраля</div>
                        <div class="main__tag main__tag_second"><i class="fa-solid fa-map"></i> 5 корпус ЛЭТИ</div>
                    </div>
                    <h1 class="main__title">Промышленная <span>карьерная неделя</span></h1>
                    <p class="main__text">Для студентов промышленная карьерная неделя — отличный <span>шанс познакомиться</span> с новыми людьми, завести <span>профессиональные связи,</span> получить инсайды и возможность получить <span>стажировку.</span></p>
                    <div class="main__btns">
                        <a href="#registration" class="main__btn"><i class="fa-solid fa-bolt-lightning"></i> Участвовать</a>
                        <a href="https://t.me/industrial_career_week" class="main__btn main__btn_tg"><i class="fa-brands fa-telegram"></i>ТГ-канал</a>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <div class="why" id="why">
        <div class="container">
            <h2 class="why__title">Почему стоит принять участие?</h2>
            <div class="why__wrapper">

                <div class="why__item">
                    <i class="fa-solid fa-briefcase"></i>
                    <div class="why__content">
                        <h4>Работа</h4>
                        <p>25+ компаний с открытыми вакансиями для молодых специалистов</p>
                    </div>
                </div>

                <div class="why__item">
                    <i class="fa-solid fa-fire"></i>
                    <div class="why__content">
                        <h4>Интересно</h4>
                        <p>1 000+ участников, включая HR, экспертов и твоих единомышленников</p>
                    </div>
                </div>

                <div class="why__item">
                    <i class="fa-solid fa-thumbs-up"></i>
                    <div class="why__content">
                        <h4>Полезно</h4>
                        <p>Нетворкинг, мастер-классы, кейсы и Q&A со спикерами</p>
                    </div>
                </div>

                <div class="why__item">
                    <i class="fa-solid fa-coins"></i>
                    <div class="why__content">
                        <h4>Бесплатно</h4>
                        <p>Участие, мерч и призы, опыт от профессионалов.</p>
                    </div>
                </div>

            </div>
            <a href="#registration" class="why__btn">Я приду!</a>
        </div>
    </div>


    <div class="comps" id="companies">
        <div class="container">
            <h2 class="comps__title">Какие компании будут у нас?</h2>

            <div class="slider owl-carousel owl-theme" id="slider">

                <div class="slide" style="background-image: url('{{ url_for('index') }}static/img/1.jpg')"></div>
                <div class="slide" style="background-image: url('{{ url_for('index') }}static/img/2.jpg')"></div>
                <div class="slide" style="background-image: url('{{ url_for('index') }}static/img/3.jpg')"></div>
                <div class="slide" style="background-image: url('{{ url_for('index') }}static/img/4.jpg')"></div>
                <div class="slide" style="background-image: url('{{ url_for('index') }}static/img/5.jpg')"></div>
                <div class="slide" style="background-image: url('{{ url_for('index') }}static/img/6.jpg')"></div>
                <div class="slide" style="background-image: url('{{ url_for('index') }}static/img/7.jpg')"></div>
                <div class="slide" style="background-image: url('{{ url_for('index') }}static/img/8.jpg')"></div>
                <div class="slide" style="background-image: url('{{ url_for('index') }}static/img/9.jpg')"></div>
                <div class="slide" style="background-image: url('{{ url_for('index') }}static/img/10.jpg')"></div>
                <div class="slide" style="background-image: url('{{ url_for('index') }}static/img/11.jpg')"></div>
                <div class="slide" style="background-image: url('{{ url_for('index') }}static/img/12.jpg')"></div>
                <div class="slide" style="background-image: url('{{ url_for('index') }}static/img/13.jpg')"></div>
                <div class="slide" style="background-image: url('{{ url_for('index') }}static/img/14.jpg')"></div>
                <div class="slide" style="background-image: url('{{ url_for('index') }}static/img/15.jpg')"></div>

            </div>

            <a href="#registration" class="comps__btn">Точно приду!</a>
        </div>
    </div>


    <div class="reg" id="registration">
        <div class="container">
            <h2 class="reg__title">Регистрация участника</h2>
            <form action="" method="POST" class="reg__form">

                <input required name="name" type="text" class="reg__input" placeholder="Имя фамилия">
                <input required name="course" type="text" class="reg__input" placeholder="Курс">
                <input required name="faculty" type="text" class="reg__input" placeholder="Факультет">
                <input required name="grade" type="text" class="reg__input" placeholder="Направление подготовки">
                <input required name="email" type="text" class="reg__input" placeholder="Почтовый ящик">

                <textarea class="reg__input" name="from" id="" rows="5" placeholder="Откуда узнали про промышленную карьерную неделю?"></textarea>

                <div class="reg__check">
                    <input required type="checkbox">
                    <p>Нажимая кнопку «Участвовать», Вы даёте согласие на обработку ваших персональных данных</p>
                </div>

                <button class="reg__btn" type="submit">Участвовать</button>

            </form>
        </div>
    </div>

    <div class="dev">
        <div class="container">
            <div class="dev__inner">
                <h3 class="dev__title">Разработка сайта — <span>IT отдел СОКТ</span></h3>
                <p class="dev__text">Хочешь вступить в наши ряды?</p>
                <a target="_blank" href="https://vk.com/eltech_career?w=wall-113893523_4141" class="dev__btn">Перейти</a>
            </div>
        </div>
    </div>



    <script>
        $(document).ready(function() {
            const slider = $("#slider").owlCarousel({
                loop: true,
                nav: false,
                dots: false,
                margin: 50,
                autoplay: true,
                autoplayTimeout: 3000,
                autoplayHoverPause: true,
                responsive: {
                    0: {
                        items: 1
                    },
                    600: {
                        items: 2
                    },
                    1000: {
                        items: 4
                    }
                }
            });
        });

    </script>



</body>

</html>
