{% extends "base.html" %}

{% block title %}Приглашение выслано на почту{% endblock %}

{% block content %}

<div class="success">
    <div class="success__inner">
        <img src="{{ url_for('index') }}static/img/career-logo.svg" alt="" class="success__logo">
        <p class="text success__text">{{ name }}, письмо с приглашением и QR-кодом выслано Вам на почту! Если не обнаружили письмо, проверьте папку «СПАМ»</p>
        <p class="text">Также не забудьте зарегистрироваться на мероприятие на платформе <a href="https://www.prostospb.team" class="ref">коворкинга ПРОСТО</a></p>
        <a href="{{ url_for('index') }}" class="btn success__btn">На главную</a>
    </div>
</div>

{% endblock %}
